body {
	margin: 0px;
	padding: 0px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	overflow-y: hidden;
}

.section {
	position: relative;
	padding: 0px;
	margin: 0px;
	height: 100vh;
	width: calc(100vw - 4px);
	display: inline-block;
	background-color: lightblue;
	border: 2px solid #000;
}