@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 200;
	src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCVh0V6fR69OLaFLklYbiSk.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
	margin: 0px;
	padding: 0px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	font-family: 'Source Sans Pro', 'sans-serif';
}

.section {
	position: relative;
	padding: 0px;
	margin: 0px;
	height: calc(100vh - 4px);
	width: calc(100vw - 4px);
	display: inline-block;
	border: 2px solid #000;
	overflow: hidden;
}

header {
	height: calc(20vh - 1px);
	width: 100vw;
	border-bottom: 1px solid #000;
}

.c100 {
	width: 100vw;
	height: calc(10vh - 1px);
	border-top: 1px solid #000;
}

.c50 {
	width: calc(50vw - 4px);
	height: 60vh;
	display: inline-block;
	vertical-align: text-top;
	position: relative;
	overflow: hidden;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

h1 {
	margin: 0px;
	font-size: 15vh;
	font-weight: 200;
}

.photo {
	padding: 5px;
	top: 0px;
	left: 0px;
}

.photo img {
	max-width: 75%;
	position: absolute;
}